*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(-90deg, black, rgb(63, 63, 63));
    color: blanchedalmond;
    font-family: 'Otomanopee One',Arial, Helvetica, sans-serif;

    & .about_description{
        font-family: 'Bona Nova',Arial, Helvetica, sans-serif;
    }
}

.image_div{
    transition: all 500ms ease-in-out;
    &:hover{
        box-shadow: 0 0 .5rem lighten(black, 50%);
    }
}

@media screen and (max-width: 300px) {
    h1{
        font-size: 1.5rem;
    }
    h3{
        font-size: 1rem;
    }
    .about_description{
        font-size: 1rem;
    }
}